<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
</head>

<body>
    <div class="container">
        <h1> {{item.name}}</h1>
        <h2> Users who added this product/item under</h2>

        {% for item in items%}

        <p> Name: {{user.fName}} </p>

        {% endfor %}





        <form action="/success">
            <button type="submit">Home</button>
        </form>
        <form action="/logout">
            <button type="submit"> Log Out</button>
        </form>
    </div>


</body>

</html>